/* Main section */
.main-banner {
    background: url(../images/background-img.png) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
}
#main {
    padding: 100px 30px;
}
.main > div {
    width: 50%;
    float: left;
}
.main-image{
    text-align: right;
}
.main-info__welcome {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #79797979;
    letter-spacing: 2px;
}
.main-info__intro{
    color: #05364e;
    font-size: 50px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px
}
.main-info__position {
    color: #05364d;
    font-size: 22px;
    font-weight: 300px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.main-info__social {
    color: #05363E;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.main-info__social a {
    margin-right: 16px;
    color: #8FA1AA;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
.main-info__social a:hover i{
    color: blue;
}

.main-info__action {
    margin-top: 30px;
}

/* Statistics section */
.statistic {
    padding-top: 100px;
}

.statistic-item {
    display: inline-block;
    text-align: center;
    background-color: #F8FAFF;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    width: 140px;
}

.statistic-number {
    font-size: 27px;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistic-title {
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}

/* About-me section */
.about-me {
    padding: 100px 0px;
}
.about-me > div {
    width: 50%;
    float: left;
}
.about-me img {
    width: 90%;
}
.about-me button {
    margin-top: 40px;
}

/* Services section */
.service {
    padding-top: 100px;
}
.service-item {
    display: inline-block;
    text-align: center;
    padding: 60px 30px;
    background: #f8faff;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}
.service-item:hover {
    background: #5f30ff;
}
.service-item:hover .service-item__description,
.service-item:hover .service-item__link,
.service-item:hover .service-item__title {
    color:#fff;
}

/* Clients Section */
.clients {
    padding-top: 100px;
}
.clients-info > div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.client-picture img{
    width: 100%;
}
.client-name {
    color: #05364d;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 4px;
}
.client-job {
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    margin-bottom: 30px;
}
.client-opinion {
    padding-top: 50px;
    padding-left: 50px;
}
.client-star {
    margin-top: 30px;
}
.client-star i {
    color: #ffd804;
}
.client-star .disabled {
    color: #aeb9be;
}

/* Portfolio styles */
.portfolio {
    padding: 100px 0;
}
.portfolio-filters {
    list-style: none;
    padding-left: 0px;
    margin-top: 90px;
}
.portfolio-filters li {
    display: inline-block;
    margin-right: 40px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.portfolio-filters li.active {
    color: rgb(19,69,230,0.9);
}
.portfolio-filters li:hover {
    color: rgb(19,69,230,0.9);
    cursor: pointer;
}
.portfolio-items {
    position: relative;
}
.portfolio-item {
    display: inline-block;
    position: relative;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.portfolio-item1{
    padding-left: 0px;
}
.portfolio-item2 {
    position: absolute;
    top: 0;
    right: 0;
}
.portfolio-item3 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.portfolio-item img {
    width: 100%;
}
.portfolio-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(19,69,230,0.9);
    visibility: hidden;
    z-index: 1;
}
.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: #ffffff;
    visibility: hidden;
}
.portfolio-item__info a {
    text-decoration: none;
    color: #ffffff;
}
.portfolio-item:hover .portfolio-item__overlay {
    left: 20px;
    top: 20px;
    visibility: visible;
}
.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    left: 60px;
    bottom: 24px;
    z-index: 2;
}

/* Blog Styles */
.blog-item {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
    background: #f8faff;
}
.blog-item:hover {
    box-shadow: 0px 10px 20px rgba(5,54,77,0.1);
    background-color: white;
}
.blog-item__image img{
    width: 100%;
    height: auto;
}
.blog-item__author:hover,
.blog-item__date:hover {
    color: #1345e6;
    cursor: pointer;
}
.blog-item__info {
    padding: 30px;
}
.blog-item__main-info span {
    margin-right: 30px;
    font-size: 14px;
    font-weight: lighter;
}
.blog-item__main-info span i {
    margin-right: 10px;
}
.blog-item__title:hover {
    cursor: pointer;
}
.blog-item__description {
    line-height: 27px;
}
.blog-item__link:hover {
    color: #ed239f;
}

/* Partners Section */
#partners {
    padding: 100px 0;
}
.partner {
    display: inline-block;
    padding: 0 30px;
}