/* Core stsyles */
body {
    font-family: sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.clearfix {
    clear: both;
}
.to-uppercase {
    text-transform: uppercase;
}
.section-subtitle {
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}
.section-title {
    margin-top: 5px;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    color:#05364d;
}
.button {
    border: none;
    background-color: blue;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
}
.blur-line {
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background: rgba(237,35,159,0.6);
    filter: blur(4px);
    border-radius: 4px;
}
.section-description {
    font-size:14px;
    font-weight: 300;
    color: #797979;
    line-height: 27px;
}
/* Header section */
.main-header__brand img {
    width: 64px;
}
.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}
.main-nav {
    display: inline-block;
    vertical-align: middle;
}

.main-nav__item {
    display: inline-block;
    text-decoration: none;
    padding:10px;
    text-transform: capitalize;
}
.main-nav__item a {
    text-decoration: none;
    color: #05364d;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
.main-nav__item a:hover {
    color:#efb6df;
}
.main-nav__item.active a{
    color: #efb6df;
}

/* Main section */
#main {
    padding: 100px 30px;
}
.main > div {
    width: 50%;
    float: left;
}
.main-image{
    text-align: right;
}
.main-info__welcome {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #79797979;
    letter-spacing: 2px;
}
.main-info__intro{
    color: #05364e;
    font-size: 50px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 20px
}
.main-info__position {
    color: #05364d;
    font-size: 22px;
    font-weight: 300px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.main-info__social {
    color: #05363E;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.main-info__social a {
    margin-right: 16px;
    color: #8FA1AA;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
.main-info__social a:hover i{
    color: blue;
}

.main-info__action {
    margin-top: 30px;
}

/* Statistics section */
.statistic {
    padding-top: 100px;
}

.statistic-item {
    display: inline-block;
    text-align: center;
    background-color: #F8FAFF;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    width: 140px;
}

.statistic-number {
    font-size: 27px;
    margin-bottom: 5px;
    color: #1c44e4;
}

.statistic-title {
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}

/* About-me section */
.about-me {
    padding: 100px 0px;
}
.about-me > div {
    width: 50%;
    float: left;
}
.about-me img {
    width: 90%;
}
.about-me button {
    margin-top: 40px;
}

/* Services section */
.service {
    padding-top: 100px;
}
.service-item {
    display: inline-block;
    text-align: center;
    padding: 60px 30px;
    background: #f8faff;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}
.service-item__title {
    color: #05364d;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 200x;
}
.service-item__link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #05364d;
    text-decoration: none;
}
.service-item:hover {
    background: #5f30ff;
}
.service-item:hover .service-item__description,
.service-item:hover .service-item__link,
.service-item:hover .service-item__title {
    color:#fff;
}

/* Clients Section */
.clients {
    padding-top: 100px;
}
.clients-info > div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.client-picture img{
    width: 100%;
}
.client-name {
    color: #05364d;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 4px;
}
.client-job {
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    margin-bottom: 30px;
}
.client-opinion {
    padding-top: 50px;
    padding-left: 50px;
}
.client-star {
    margin-top: 30px;
}
.client-star i {
    color: #ffd804;
}
.client-star .disabled {
    color: #aeb9be;
}