/* Core stsyles */
body {
    font-family: sans-serif;
    margin: 0px;
    font-weight: 300;
    color: #797979;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.clearfix {
    clear: both;
}
.to-uppercase {
    text-transform: uppercase;
}
.section-subtitle {
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0.625rem;
    color: #797979;
    text-transform: uppercase;
}
.section-title {
    margin-top: 0.32rem;
    font-size: 2.62rem;
    font-weight: 700;
    text-transform: capitalize;
    color:#05364d;
}
.button {
    border: none;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
    color: #fff;
    font-weight: 500;
    font-size: 0.87rem;
    padding: 1.25rem 1.875rem;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-position: right center;
}
.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 0.32rem;
    width: 80px;
    height: 4px;
    background: rgba(237,35,159,0.6);
    filter: blur(4px);
    border-radius: 4px;
}
.section-description {
    font-size:14px;
    font-weight: 300;
    color: #797979;
    line-height: 27px;
}
.item-title {
    color: #05364d;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}
.item-link {
    font-size: 0.81rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #05364d;
    text-decoration: none;
}
/* Header section */
.main-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}
.main-header__brand img {
    width: 64px;
}
.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}
.main-nav {
    display: inline-block;
    vertical-align: middle;
}

.main-nav__item {
    display: inline-block;
    text-decoration: none;
    padding: 0.625rem;
    text-transform: capitalize;
}
.main-nav__item a {
    text-decoration: none;
    color: #05364d;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
}
.main-nav__item a:hover {
    color:#efb6df;
}
.main-nav__item.active a{
    color: #efb6df;
}

/* Footer Section */
.footer {
    padding: 100px 0;
    background-color: #021017;
    text-align: center
}
.footer-brand img {
    width: 96px;
}
.footer-nav__items, .footer-socials{
    list-style-type: none;
    margin-bottom: 40px;
}
.footer-nav__item, .footer-social {
    display: inline-block;

}
.footer-nav__item a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
}
.footer-social {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #ffffff;
    border-radius: 36px;
    font-size: 16px;
    margin-right: 12px;
    cursor: pointer;
}
.footer-social a{
    color: #021017;
}
.footer-social:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}
.footer-social:hover a{
    color: white;
}
.footer-socials ~ p {
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
}

@media only screen and (max-width: 961px) {
    .container {
        width: 90%;
    }
    .main-nav {
        display: none;
    }
    /* footer section */
    .footer-nav {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    /* main section */
    .container {
        width: 96%;
    }
}
